@font-face {
  font-family: 'Norwester';
  src: url('../fonts/norwester.eot') format('eot');
  src: url('../fonts/norwester.otf') format('otf');
  src: url('../fonts/norwester.ttf') format('ttf');
  src: url('../fonts/norwester.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i');

$font-family-menu: 'Norwester', sans-serif;

$font-family-body: 'Arvo', serif;

$font-size-base-px: 16px;