<div class="events-container">
  <h1>Events</h1>
  <div *ngIf="events.length">
    <div class="event" *ngFor="let event of events">
        <div class="row" ng-class="{'open': event.detail}">
            <div class="event-name"
                    (click)="eventClick(event)">{{event.name}}</div>
            <div class="event-url">
                <a href="{{event.event_url}}"><i class="fa fa-meetup fa-2x" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="event-details" *ngIf="event.detail">
            <div class="event-time">{{event.time | date : 'M/d/yy h:mm a'}}</div>
            <div class="event-vanue-name">{{event.venue.name}}</div>
            <div class="event-venue-address">
                <span ng-bind-html="event.venue.address_1"></span>,
                <span ng-bind-html="event.venue.city"></span>
            </div>
            <div class="event-description" ng-bind-html="event.description"></div>
        </div>
    </div>
  </div>
</div>
