<div class="events-container">
  <div style="text-align: center;">
      <img style="max-width: 700px;" src="../../assets/t-mobile.svg"><img><h1 style="font-size: 40px; padding-top: 40px;">PRESENTS</h1>

    <h1>CODE vs. CODE ▪ Freestyle Hackathon Competition</h1>
    <h2 style="padding-top: 30px;">June 23, 2018 from 8am to 6pm</h2>
    <br/>
    <h2>Organized by Bootcampers Collective</h2>
    <div class='button_block'>
      <a href="https://goo.gl/forms/iPGAF0U2MUi1Mtf12" target="_blank" ><button class='button'>Team Sign Up</button></a> <a href="https://docs.google.com/forms/d/e/1FAIpQLSfYWEmc41fm0ntZRuEBYe4eokDXthFIoh4v8Y35ljsusta-1Q/viewform" target="_blank"><button class='button right'>Individual Sign Up</button></a>
    </div>
  </div>

    <h3>Teams of Junior Developers will be competing for a grand prize provided by T-Mobile.</h3>

    <h3>Location: Boulder - finalizing venue at this time.</h3>

    <h3>Rules:</h3>
    <ul>
      <li>Teams must contain 5 participants maximum.</li>
      <li>All teams must be physically present to compete.</li>
      <li>Project specifications will be provided Friday, June 22nd at Noon.</li>
      <li>Projects will be judged on Innovation, Design, and Completeness.</li>
      <li>There are no requirements for specific languages or tech, but you must use an MVC architechture.</li>
    </ul>

    <h4>We will be providing food and beverages throughout the day!</h4>

    <h3>Why participate?</h3>
      <ul>
        <li>Hackathons are a great opportunity for our members to gain resume-worthy experience working on live code for the community. Minimal experience required. ALL ARE WELCOME!</li>
      </ul>
  <!-- <h1>Events</h1>
  <div *ngIf="events.length">
    <div class="event" *ngFor="let event of events">
        <div class="row" ng-class="{'open': event.detail}">
            <div class="event-name"
                    (click)="eventClick(event)">{{event.name}}</div>
            <div class="event-url">
                <a href="{{event.event_url}}"><i class="fa fa-meetup fa-2x" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="event-details" *ngIf="event.detail">
            <div class="event-time">{{event.time | date : 'M/d/yy h:mm a'}}</div>
            <div class="event-vanue-name">{{event.venue.name}}</div>
            <div class="event-venue-address">
                <span ng-bind-html="event.venue.address_1"></span>,
                <span ng-bind-html="event.venue.city"></span>
            </div>
            <div class="event-description" ng-bind-html="event.description"></div>
        </div>
    </div>
  </div> -->
  <!-- <form action="/profile" method="post">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name">
    </div>
    <div class="form-group">
        <label>Location</label>
        <input type="text" class="form-control" name="location">
    </div>
    <div class="form-group">
        <label>Gender</label>
        <input type="text" class="form-control" name="gender">
    </div>
    <div class="form-group">
        <label>Sexual Preference</label>
        <input type="text" class="form-control" name="sexualPreference">
    </div>

    <button type="submit" class="btn btn-warning btn-lg">Update</button>
</form> -->
</div>
