.home-container {
  text-align: center;
  img {
    width: 200px;
    margin-top: 25px;

    @include breakpoint($bp-768) {
      width: 500px;
    }
  }

  .work-container {
    margin-top: 50px;

    h1 {
      font-size: 24px;

      @include breakpoint($bp-768) {
        font-size: 64px;
      }
    }
  }

  .flow-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    div{
      img {
        margin-bottom: 25px;
      }
    }

    .slack-image {
      width: 40px;

      @include breakpoint($bp-768) {
        width: 125px;
      }

      img {
        width: 40px;

        @include breakpoint($bp-768) {
          width: 125px;
        }
      }
    }

    .arrow-image {
      padding-top: 15px;
      margin: 0 5px;

      @include breakpoint($bp-768) {
        padding-top: 30px;
        margin: 0 15px;
      }

      img {
        width: 20px;

        @include breakpoint($bp-768) {
          width: 50px;
        }
      }
    }

    .coding-image {
      width: 90px;

      @include breakpoint($bp-768) {
        width: 200px;
      }

      img {
        width: 90px;

        @include breakpoint($bp-768) {
          width: 200px;
        }
      }
    }

    .money-image {
      width: 70px;
      padding-top: 5px;

      @include breakpoint($bp-768) {
        padding-top: 10px;
        width: 175px;
      }

      img {
        width: 70px;

        @include breakpoint($bp-768) {
          width: 175px;
        }
      }
    }

    .sub-title {
      font-size: 14px;

      @include breakpoint($bp-768) {
        font-size: 25px;
      }
    }
  }
}
