<div class="home-container">
  <div class="image-container">
      <img src="../../assets/bc-logo-NEW.png">
  </div>
  <!-- <div class="work-container">
      <h1>How does it work?</h1>
  </div> -->
  <div class="flow-container">
      <div class="coding-image">
        <a href="http://slack.bootcamperscollective.com" target="_blank"><img src="../../assets/slack.png"></a>
          <div class="sub-title">
              Join us on Slack
          </div>
      </div>
      <div class="arrow-image">
          <img src="../../assets/right-arrow.png">
      </div>
      <div class="coding-image">
        <a href="https://github.com/bootcamperscollective" target="_blank"><img src="../../assets/coding.png"></a>
          <div class="sub-title">
              Start coding on community projects
          </div>
      </div>
      <div class="arrow-image">
          <img src="../../assets/right-arrow.png">
      </div>
      <div class="coding-image">
          <img src="../../assets/experience.png">
          <div class="sub-title">
              Build your portfolio
          </div>
      </div>
  </div>
  <!-- <div class="client-container">
      <h1>Who are our clients?</h1>
      <div class="client-text">
          We are a full service web development shop that assists small to mid size businesses and non-profits with websites and applications through a highly customized and personable approach.  Here's a few of our clients who we have helped in the past.
      </div>
      <div class="client-images">
          <img src="https://bc-webapp-assets.nyc3.digitaloceanspaces.com/clients/5340CoffeeLogo.png">
          <img src="https://bc-webapp-assets.nyc3.digitaloceanspaces.com/clients/awp.png">
          <img src="https://bc-webapp-assets.nyc3.digitaloceanspaces.com/clients/rowdyMermaidWordyLogo.png">
      </div>
  </div> -->
</div>
