@import '~sass/_vars.scss';
@import '~sass/_mixins.scss';
@import '~sass/_typography.scss';

.services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include breakpoint($bp-768){
    flex-direction: row;
  }

  .business-service {
    flex: 1 1 auto;
  }

  .member-service {
    flex: 1 1 auto;

    @include breakpoint($bp-768) {
      margin-left: 25px;
    }
  }

  .service-group {
    width: 100%;

    @include breakpoint($bp-768){
      width: 360px;
    }

    @include breakpoint($bp-1024) {
      width: 500px;
    }

    @include breakpoint($bp-1440) {
      width: 700px;
    }
  }
}
