@import "header";
@import "body";
@import "footer";

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .header-div {
    flex: 0;
    height: 75px;
  }

  .body-div {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
  }
}
