@import "header";
@import "body";

.container {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .header-div {
    height: 75px;
  }

  .body-div {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
